---
import getActualHref from "@utils/getActualHref";
import type { HTMLProps } from "react";

export interface Props extends HTMLProps<HTMLLinkElement> {
  role?: any; // prevent typescript error
}

const { href, className, ...props } = Astro.props;
---

<a {...props} href={getActualHref(href)} class={className}>
  <slot />
</a>
